bin/*
runs/*
dataset/.env
dataset/*.json
dataset/*.jsonl
ngc-cli/*
dataset/file/*
model/.env
model/runs/*
api/myapp
runs-backup
saved_model
runs-v2
api/dataset
api/models
test-models/dataset
test-models/models
test
intelliJPlatformplugin
